<div class="w-full">
  <% content_for :title, "Books" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Books</h1>
    <%= link_to "New book", new_book_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <table class="table-auto w-full">
    <thead>
      <tr>
        <th class="text-center w-3/12">Title</th>
        <th class="text-center w-4/12">Description</th>
        <th class="text-center w-2/12">Author</th>
        <th class="text-center w-2/12">Published Year</th> 
        <th class="text-center w-1/12">Actions</th> 
      </tr>
    </thead>
    <tbody>
      <% @books.each do |book| %> 
        <tr>
          <td class="text-center"><%= book.title %></td>
          <td class="text-center"><%= book.description %></td> 
          <td class="text-center"><%= book.author.full_name %></td> 
          <td class="text-center"><%= book.year_of_publication %></td> 
          <td class="text-center">
            <%= edit_or_show_button(book) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
